.main {
	margin: 0 auto;
	padding: 1vh 5vw; 
	max-width: 860px;
}

h1, h2,h3, h4, h5, h6 { 
    padding: 0;
    margin: 0;
}

h2,h3 { 
    color: inherit;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
}

h4, h5, h6 { 
    color: inherit;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
}
