.app {
	max-width: 860px;
} 

/* .search {
    content: attr(value);  
    margin-top: 8px;
    margin-bottom: 8px
}
  
.search::after{
    content: attr(); 
} */

.toggle {
    display: block;
    cursor: pointer;
    position: absolute;
    width: 40px; 
    height: 40px;
    background-color: #FEFEFE; 
    border: 1.5px solid #000; 
} 

.toggleInput {
    display: block;
    cursor: pointer; 
    width: 40px;
    height: 40px;  
    opacity: 0; 
}  

.toggleInput:checked ~ .toggle {
    transition: all .5s ease,-webkit-transform .5s ease;   
    transform: rotate(-180deg); 
    width: 0px; 
}  
 
.toggleInput:checked ~ .topics {    
    transition: 
        width .5s ease, -webkit-transform width .5s ease,
        opacity 1.5s ease, -webkit-transform width .5s ease;  
    width: 0px;
    opacity: 0;
}

.topics {
    padding-right: 32px;
}

.topicContainer {
    font-style: normal;
    color: rgba(0,0,0,1);
	-webkit-text-decoration-skip: objects; 
	text-decoration: none;
}

.topic { 
    flex:1; 
    color: #292929;
    position: relative;
    justify-content: 'center';
    width: max-content;
    text-align: 'left';
    margin-top: 12px;
    margin-bottom: 12px;
    color: inherit; 
    font-weight: 700; 
    text-rendering: optimizeLegibility; 
    line-height: 1.1;
}

 
.topic:active {
    color: grey;
}

.topic::after {   
    content: "";
    position: absolute;
    margin-bottom: -4px;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;

	background-color:rgba(0,0,0,0.8);
	-webkit-transform-origin: bottom right;
	-ms-transform-origin: bottom right;
	transform-origin: bottom right;

	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.86,0,0.07,1);
	-webkit-transition: transform 0.4s cubic-bezier(0.86,0,0.07,1);
	transition: transform .5s ease,-webkit-transform .5s ease;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
}

.topic:hover::after,
.topic:active::after {  
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); 
} 
 

.topicActive { 
  flex:1; 
  color: #292929;
  position: relative;
  justify-content: 'center';
  width: max-content;
  text-align: 'left';
  margin-top: 12px;
  margin-bottom: 12px;
  color: inherit; 
  font-weight: 700; 
  text-rendering: optimizeLegibility; 
  line-height: 1.1;
}

.topicActive::after {
  content: "";
  position: absolute;
  margin-bottom: -4px;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;

  background-color:rgba(0,0,0,0.8);
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;

  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.86,0,0.07,1);
  -webkit-transition: transform 0.4s cubic-bezier(0.86,0,0.07,1);
  transition: transform .5s ease,-webkit-transform .5s ease;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);  
}
