.header {  
	height: 100%;
	flex: 1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;  
	z-index: 3;
}
 

.header nav { 
	font-size: 100%;

	margin-top: 2vh;
	border: 0.5px solid #fff; 
	border-radius: 5px;
}

.header nav a {
	color: #FFF;

	height: 6vw;
	max-height: 48px;

	display: inline-flex;
	align-items: center;

	padding: 0 4vw 0 4vw; 
	text-align: center;

	text-decoration: none;
	border-color: #FFF;
	border-right-width: 1px;
	background: rgba(255,255,255,0);
	will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
	border-radius: 5px;
	background: rgba(255,255,255,0.15);
}

.header nav a.active {
	background: rgba(255,255,255,0.25);
}
 
.icon_container::after {
	background:#fff;
	content: "";
	display: block;
	height: calc(3.5rem + 1px);
	left: calc(50% - 1px);
	position: absolute;
	top: calc(-3.5rem - 1px);
	width: 1px;
}

.ereio_icon {
	height: 25vw; 
	max-width: 160px;
	max-height: 160px;  
}
.ereio-icon-augmented { 
	height: 12vmin;
	--augmented-ui: tr-clip r-notch-y br-round bl-clip exe;
	--aug-border: 20px;
	--aug-border-bg: black;
	--aug-tr: 40px;
	--aug-bl: 60px;
	--aug-br: 30px;
	--aug-r-width: 20px;
	--aug-r-height: 200px; 
}