.header {  
	height: 5vh; 

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;   
}

.header nav a {
	height: 10vh;
	width: 10vw;
	min-width: 85px;  
	min-height: 25px;
	max-height: 45px;

	color: #FEFEFE;
	font-size: 1.4em;
	text-decoration: none; 
	
	display: inline-flex;
	justify-content: center; 
	align-items: center;

	border-style: solid;
	border-color: #FFF; 
	border-width: 0;
	border-right-width: 0.5px;
	 
	background-color: rgba(255,255,255,0);
    transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color  0.25s ease-in-out;
    -webkit-transition: background-color  0.25s ease-in-out;
	will-change: background-color;
}

.header nav a:first-child { 
	opacity: 1;
	display: inline-flex;
}
 
.header nav a:last-child {
	border-right-width: 0;
}

.header nav a:hover,
.header nav a:active { 
	background-color: rgba(255,255,255,0.15);
    transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color  0.25s ease-in-out;
    -webkit-transition: background-color  0.25s ease-in-out;
}

.header nav a.clicked {
	background-color: rgba(255,255,255,0.65); 
	color: #000000; 
}

.hover_container {
	position: relative;
}

.icons {    
	position: relative; 
}